<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Auditoria em Datacenter</title>
</head>
<body>
    <h1>Questionário: Auditoria em Datacenter</h1>
    <div class="center">
        <form action="/submit" method="post">
            <input type="hidden" name="usr" value="{{ usr }}">
            <table>
                <tr>
                    <th>Pergunta</th>
                    <td></td>
                    <th>Nível</th>
                </tr>
                <tr>
                    <td>A política de backup está documentada e disponível para todos os funcionários relevantes?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>A classificação da informação é feita antes da execução do processo de backup?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel2" value="1" id="nivel2_1">
                                <label for="nivel2_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel2" value="2" id="nivel2_2">
                                <label for="nivel2_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel2" value="3" id="nivel2_3">
                                <label for="nivel2_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel2" value="4" id="nivel2_4">
                                <label for="nivel2_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel2" value="5" id="nivel2_5">
                                <label for="nivel2_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Os dados são classificados de acordo com sua importância e sensibilidade, e os procedimentos de backup são feitos de acordo com essas classificações?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel3" value="1" id="nivel3_1">
                                <label for="nivel3_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel3" value="2" id="nivel3_2">
                                <label for="nivel3_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel3" value="3" id="nivel3_3">
                                <label for="nivel3_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel3" value="4" id="nivel3_4">
                                <label for="nivel3_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel3" value="5" id="nivel3_5">
                                <label for="nivel3_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Os sistemas de resfriamento e ventilação do data center são eficazes e mantêm as temperaturas dentro dos limites aceitáveis?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel4" value="1" id="nivel4_1">
                                <label for="nivel4_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel4" value="2" id="nivel4_2">
                                <label for="nivel4_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel4" value="3" id="nivel4_3">
                                <label for="nivel4_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel4" value="4" id="nivel4_4">
                                <label for="nivel4_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel4" value="5" id="nivel4_5">
                                <label for="nivel4_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Os dados de backup são verificados de tempos em tempos quanto à sua integridade?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel5" value="1" id="nivel5_1">
                                <label for="nivel5_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel5" value="2" id="nivel5_2">
                                <label for="nivel5_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel5" value="3" id="nivel5_3">
                                <label for="nivel5_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel5" value="4" id="nivel5_4">
                                <label for="nivel5_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel5" value="5" id="nivel5_5">
                                <label for="nivel5_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Os acessos aos sistemas de backup são restritos apenas a usuários autorizados?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel6" value="1" id="nivel6_1">
                                <label for="nivel6_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel6" value="2" id="nivel6_2">
                                <label for="nivel6_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel6" value="3" id="nivel6_3">
                                <label for="nivel6_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel6" value="4" id="nivel6_4">
                                <label for="nivel6_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel6" value="5" id="nivel6_5">
                                <label for="nivel6_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>São utilizados controles de autenticação para garantir que apenas pessoal autorizado tenha acesso aos dados de backup?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel7" value="1" id="nivel7_1">
                                <label for="nivel7_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel7" value="2" id="nivel7_2">
                                <label for="nivel7_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel7" value="3" id="nivel7_3">
                                <label for="nivel7_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel7" value="4" id="nivel7_4">
                                <label for="nivel7_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel7" value="5" id="nivel7_5">
                                <label for="nivel7_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Existe um sistema de monitoramento para detectar eventos não autorizados ou falhas nos processos de backup?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel8" value="1" id="nivel8_1">
                                <label for="nivel8_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel8" value="2" id="nivel8_2">
                                <label for="nivel8_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel8" value="3" id="nivel8_3">
                                <label for="nivel8_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel8" value="4" id="nivel8_4">
                                <label for="nivel8_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel8" value="5" id="nivel8_5">
                                <label for="nivel8_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Existe um plano de continuidade de negócios que aborda especificamente a redundância no data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel9" value="1" id="nivel9_1">
                                <label for="nivel9_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel9" value="2" id="nivel9_2">
                                <label for="nivel9_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel9" value="3" id="nivel9_3">
                                <label for="nivel9_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel9" value="4" id="nivel9_4">
                                <label for="nivel9_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel9" value="5" id="nivel9_5">
                                <label for="nivel9_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Os mecanismos de redundância são testados com frequência para garantir sua eficácia?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel10" value="1" id="nivel10_1">
                                <label for="nivel10_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel10" value="2" id="nivel10_2">
                                <label for="nivel10_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel10" value="3" id="nivel10_3">
                                <label for="nivel10_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel10" value="4" id="nivel10_4">
                                <label for="nivel10_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel10" value="5" id="nivel10_5">
                                <label for="nivel10_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Há um sistema de monitoramento para identificar falhas e garantir que a redundância seja ativada automaticamente se necessário?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel11" value="1" id="nivel11_1">
                                <label for="nivel11_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel11" value="2" id="nivel11_2">
                                <label for="nivel11_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel11" value="3" id="nivel11_3">
                                <label for="nivel11_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel11" value="4" id="nivel11_4">
                                <label for="nivel11_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel11" value="5" id="nivel11_5">
                                <label for="nivel11_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>São planejados controles para verificar o risco de falhas em componentes críticos, como servidores, switches e sistemas de armazenamento?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel12" value="1" id="nivel12_1">
                                <label for="nivel12_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel12" value="2" id="nivel12_2">
                                <label for="nivel12_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel12" value="3" id="nivel12_3">
                                <label for="nivel12_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel12" value="4" id="nivel12_4">
                                <label for="nivel12_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel12" value="5" id="nivel12_5">
                                <label for="nivel12_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Há redundância eficaz para garantir a disponibilidade dos serviços em caso de falha de hardware?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel13" value="1" id="nivel13_1">
                                <label for="nivel13_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel13" value="2" id="nivel13_2">
                                <label for="nivel13_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel13" value="3" id="nivel13_3">
                                <label for="nivel13_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel13" value="4" id="nivel13_4">
                                <label for="nivel13_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel13" value="5" id="nivel13_5">
                                <label for="nivel13_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Todos os funcionários que trabalham no data center passaram por verificações de antecedentes e treinamento em segurança?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel14" value="1" id="nivel14_1">
                                <label for="nivel14_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel14" value="2" id="nivel14_2">
                                <label for="nivel14_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel14" value="3" id="nivel14_3">
                                <label for="nivel14_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel14" value="4" id="nivel14_4">
                                <label for="nivel14_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel14" value="5" id="nivel14_5">
                                <label for="nivel14_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Existe um plano de continuidade de negócios específico para o data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel15" value="1" id="nivel15_1">
                                <label for="nivel15_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel15" value="2" id="nivel15_2">
                                <label for="nivel15_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel15" value="3" id="nivel15_3">
                                <label for="nivel15_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel15" value="4" id="nivel15_4">
                                <label for="nivel15_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel15" value="5" id="nivel15_5">
                                <label for="nivel15_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>O plano está alinhado com os objetivos da organização e documenta procedimentos para manter operações críticas em períodos adversos?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel16" value="1" id="nivel16_1">
                                <label for="nivel16_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel16" value="2" id="nivel16_2">
                                <label for="nivel16_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel16" value="3" id="nivel16_3">
                                <label for="nivel16_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel16" value="4" id="nivel16_4">
                                <label for="nivel16_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel16" value="5" id="nivel16_5">
                                <label for="nivel16_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>O plano de contingência do data center é testado com frequência?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel17" value="1" id="nivel17_1">
                                <label for="nivel17_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel17" value="2" id="nivel17_2">
                                <label for="nivel17_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel17" value="3" id="nivel17_3">
                                <label for="nivel17_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel17" value="4" id="nivel17_4">
                                <label for="nivel17_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel17" value="5" id="nivel17_5">
                                <label for="nivel17_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>São conduzidas revisões periódicas para aprendizados de incidentes anteriores e atualizar o plano se necessário?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel18" value="1" id="nivel18_1">
                                <label for="nivel18_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel18" value="2" id="nivel18_2">
                                <label for="nivel18_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel18" value="3" id="nivel18_3">
                                <label for="nivel18_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel18" value="4" id="nivel18_4">
                                <label for="nivel18_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel18" value="5" id="nivel18_5">
                                <label for="nivel18_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Existem procedimentos e documentados para responder a incidentes específicos que podem afetar a operação do data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel19" value="1" id="nivel19_1">
                                <label for="nivel19_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel19" value="2" id="nivel19_2">
                                <label for="nivel19_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel19" value="3" id="nivel19_3">
                                <label for="nivel19_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel19" value="4" id="nivel19_4">
                                <label for="nivel19_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel19" value="5" id="nivel19_5">
                                <label for="nivel19_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Os funcionários são treinados para garantir a execução eficiente desses procedimentos em caso de uma interrupção?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel20" value="1" id="nivel20_1">
                                <label for="nivel20_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel20" value="2" id="nivel20_2">
                                <label for="nivel20_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel20" value="3" id="nivel20_3">
                                <label for="nivel20_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel20" value="4" id="nivel20_4">
                                <label for="nivel20_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel20" value="5" id="nivel20_5">
                                <label for="nivel20_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Os ativos críticos do data center foram identificados e priorizados no plano de contingência?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel21" value="1" id="nivel21_1">
                                <label for="nivel21_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel21" value="2" id="nivel21_2">
                                <label for="nivel21_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel21" value="3" id="nivel21_3">
                                <label for="nivel21_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel21" value="4" id="nivel21_4">
                                <label for="nivel21_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel21" value="5" id="nivel21_5">
                                <label for="nivel21_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Existe um plano de contingência para lidar com falhas nos sistemas de resfriamento?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel22" value="1" id="nivel22_1">
                                <label for="nivel22_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel22" value="2" id="nivel22_2">
                                <label for="nivel22_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel22" value="3" id="nivel22_3">
                                <label for="nivel22_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel22" value="4" id="nivel22_4">
                                <label for="nivel22_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel22" value="5" id="nivel22_5">
                                <label for="nivel22_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>O plano de contingência inclui procedimentos para garantir que as temperaturas críticas sejam mantidas em caso de falha no sistema de resfriamento?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel23" value="1" id="nivel23_1">
                                <label for="nivel23_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel23" value="2" id="nivel23_2">
                                <label for="nivel23_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel23" value="3" id="nivel23_3">
                                <label for="nivel23_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel23" value="4" id="nivel23_4">
                                <label for="nivel23_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel23" value="5" id="nivel23_5">
                                <label for="nivel23_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Existe uma política de controle de acesso documentada para o data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel24" value="1" id="nivel24_1">
                                <label for="nivel24_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel24" value="2" id="nivel24_2">
                                <label for="nivel24_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel24" value="3" id="nivel24_3">
                                <label for="nivel24_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel24" value="4" id="nivel24_4">
                                <label for="nivel24_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel24" value="5" id="nivel24_5">
                                <label for="nivel24_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>A política define os requisitos de acesso, incluindo autenticação, autorização e gerenciamento de privilégios?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel25" value="1" id="nivel25_1">
                                <label for="nivel25_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel25" value="2" id="nivel25_2">
                                <label for="nivel25_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel25" value="3" id="nivel25_3">
                                <label for="nivel25_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel25" value="4" id="nivel25_4">
                                <label for="nivel25_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel25" value="5" id="nivel25_5">
                                <label for="nivel25_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>São implementados controles de acesso técnico, como senhas fortes, autenticação multifator e restrições de acesso?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel26" value="1" id="nivel26_1">
                                <label for="nivel26_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel26" value="2" id="nivel26_2">
                                <label for="nivel26_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel26" value="3" id="nivel26_3">
                                <label for="nivel19_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel26" value="4" id="nivel26_4">
                                <label for="nivel26_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel26" value="5" id="nivel26_5">
                                <label for="nivel26_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Existe uma monitorização regular para identificar e corrigir acessos não autorizados ou atividades suspeitas?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel27" value="1" id="nivel27_1">
                                <label for="nivel27_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel27" value="2" id="nivel27_2">
                                <label for="nivel27_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel27" value="3" id="nivel27_3">
                                <label for="nivel27_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel27" value="4" id="nivel27_4">
                                <label for="nivel27_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel27" value="5" id="nivel27_5">
                                <label for="nivel27_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>São mantidos registros detalhados das atividades de acesso ao data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel28" value="1" id="nivel28_1">
                                <label for="nivel28_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel28" value="2" id="nivel28_2">
                                <label for="nivel28_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel28" value="3" id="nivel28_3">
                                <label for="nivel28_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel28" value="4" id="nivel28_4">
                                <label for="nivel28_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel28" value="5" id="nivel28_5">
                                <label for="nivel28_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Os registros incluem informações sobre quem acessou, quando, de onde e quais ações foram realizadas?</td>/
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel29" value="1" id="nivel29_1">
                                <label for="nivel29_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel29" value="2" id="nivel29_2">
                                <label for="nivel29_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel29" value="3" id="nivel29_3">
                                <label for="nivel29_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel29" value="4" id="nivel29_4">
                                <label for="nivel29_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel29" value="5" id="nivel29_5">
                                <label for="nivel29_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>São utilizados procedimentos para gerenciar a atribuição de direitos de acesso aos recursos do data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel30" value="1" id="nivel30_1">
                                <label for="nivel30_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel30" value="2" id="nivel30_2">
                                <label for="nivel30_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel30" value="3" id="nivel30_3">
                                <label for="nivel30_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel30" value="4" id="nivel30_4">
                                <label for="nivel30_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel30" value="5" id="nivel30_5">
                                <label for="nivel30_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Há um processo eficaz para garantir que os acessos concedidos estejam alinhados com as funções e responsabilidades dos usuários?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel31" value="1" id="nivel31_1">
                                <label for="nivel31_1"></label>
                                <div level="Pessimo">Pessimo</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel31" value="2" id="nivel31_2">
                                <label for="nivel31_2"></label>
                                <div level="Ruim">Ruim</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel31" value="3" id="nivel31_3">
                                <label for="nivel31_3"></label>
                                <div level="Medio">Medio</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel31" value="4" id="nivel31_4">
                                <label for="nivel31_4"></label>
                                <div level="Bom">Bom</div>

                            </span>
                            <span>
                                <input type="radio" name="nivel19" value="5" id="nivel19_5">
                                <label for="nivel31_5"></label>
                                <div level="Excelente">Excelente</div>

                            </span>
                        </span>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Enviar respostas">
        </form>
    </div>
</body>
</html>
