<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Auditoria em Datacenter</title>
</head>
<body>
    <h1>Questionário: Auditoria em Datacenter</h1>
    <div class="center">
        <form>
            <table>
                <tr>
                    <th>Pergunta</th>
                    <td></td>
                    <th>Nível</th>
                </tr>
                <td>A política de backup está documentada e disponível para todos os funcionários relevantes?</td>
                <td></td>
                <td class="level">
                    <span class="rating">
                        <span>
                            <input type="radio" name="nivel1" value="1" id="nivel1_1">
                            <label for="nivel1_1"></label>
                            <span class="level-number">1</span>
                        </span>
                        <span>
                            <input type="radio" name="nivel1" value="2" id="nivel1_2">
                            <label for="nivel1_2"></label>
                            <span class="level-number">2</span>
                        </span>
                        <span>
                            <input type="radio" name="nivel1" value="3" id="nivel1_3">
                            <label for="nivel1_3"></label>
                            <span class="level-number">3</span>
                        </span>
                        <span>
                            <input type="radio" name="nivel1" value="4" id="nivel1_4">
                            <label for="nivel1_4"></label>
                            <span class="level-number">4</span>
                        </span>
                        <span>
                            <input type="radio" name="nivel1" value="5" id="nivel1_5">
                            <label for="nivel1_5"></label>
                            <span class="level-number">5</span>
                        </span>
                    </span>
                </td>    
                
                <tr>
                    <td>A classificação da informação é feita antes da execução do processo de backup?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <td>Os dados são classificados de acordo com sua importância e sensibilidade, e os procedimentos de backup são feitos de acordo com essas classificações?</td>
                <td></td>
                <td class="level">
                    <span class="rating">
                        <span>
                            <input type="radio" name="nivel1" value="1" id="nivel1_1">
                            <label for="nivel1_1"></label>
                            <span class="level-number">1</span>
                        </span>
                        <span>
                            <input type="radio" name="nivel1" value="2" id="nivel1_2">
                            <label for="nivel1_2"></label>
                            <span class="level-number">2</span>
                        </span>
                        <span>
                            <input type="radio" name="nivel1" value="3" id="nivel1_3">
                            <label for="nivel1_3"></label>
                            <span class="level-number">3</span>
                        </span>
                        <span>
                            <input type="radio" name="nivel1" value="4" id="nivel1_4">
                            <label for="nivel1_4"></label>
                            <span class="level-number">4</span>
                        </span>
                        <span>
                            <input type="radio" name="nivel1" value="5" id="nivel1_5">
                            <label for="nivel1_5"></label>
                            <span class="level-number">5</span>
                        </span>
                    </span>
                </td>

                <tr>
                    <td>Os dados de backup são verificados de tempos em tempos quanto à sua integridade?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                </tr>
                    <td>Os acessos aos sistemas de backup são restritos apenas a usuários autorizados?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                </td>

                <tr>
                    <td>São utilizados controles de autenticação para garantir que apenas pessoal autorizado tenha acesso aos dados de backup?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Existe um sistema de monitoramento para detectar eventos não autorizados ou falhas nos processos de backup?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                </tr>
                    <td>Os ativos críticos do data center foram identificados e priorizados no plano de contingência?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                <tr>
                    <td>Existe um plano de continuidade de negócios que aborda especificamente a redundância no data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                </tr>
                    <td>Os mecanismos de redundância são testados com frequência para garantir sua eficácia?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                <tr>
                    <td>Há um sistema de monitoramento para identificar falhas e garantir que a redundância seja ativada automaticamente se necessário?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                </tr>
                    <td>São planejados controles para verificar o risco de falhas em componentes críticos, como servidores, switches e sistemas de armazenamento?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                <tr>
                    <td>Há redundância eficaz para garantir a disponibilidade dos serviços em caso de falha de hardware?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                </tr>
                    <td>Existe um plano de continuidade de negócios específico para o data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                <tr>   
                    <td>Existe um plano de contingência para lidar com falhas nos sistemas de resfriamento?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                </tr>
                    <td>O plano está alinhado com os objetivos da organização e documenta procedimentos para manter operações críticas em períodos adversos?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                <tr>
                    <td>O plano de contingência do data center é testado com frequência?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                    
                </tr>
                    <td>São conduzidas revisões periódicas para aprendizados de incidentes anteriores e atualizar o plano se necessário?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>

                <tr>
                    <td>Existem procedimentos e documentados para responder a incidentes específicos que podem afetar a operação do data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Os funcionários são treinados para garantir a execução eficiente desses procedimentos em caso de uma interrupção?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Os ativos críticos do data center foram identificados e priorizados no plano de contingência?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Existe um plano de contingência para lidar com falhas nos sistemas de resfriamento?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>O plano de contingência inclui procedimentos para garantir que as temperaturas críticas sejam mantidas em caso de falha no sistema de resfriamento?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>São mantidos registros detalhados das atividades de acesso ao data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Existe uma política de controle de acesso documentada para o data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>A política define os requisitos de acesso, incluindo autenticação, autorização e gerenciamento de privilégios?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>São implementados controles de acesso técnico, como senhas fortes, autenticação multifator e restrições de acesso?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Existe uma monitorização regular para identificar e corrigir acessos não autorizados ou atividades suspeitas?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>São mantidos registros detalhados das atividades de acesso ao data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Os registros incluem informações sobre quem acessou, quando, de onde e quais ações foram realizadas?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>São utilizados procedimentos para gerenciar a atribuição de direitos de acesso aos recursos do data center?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

                <tr>
                    <td>Há um processo eficaz para garantir que os acessos concedidos estejam alinhados com as funções e responsabilidades dos usuários?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>

            </table>
            <input type="submit" value="Enviar respostas">
        </form>
    </div>
</body>
</html>
