<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Auditoria em Datacenter</title>
</head>
<body>
    <h1>Questionário: Auditoria em Datacenter</h1>
    <div class="center">
        <form>
            <table>
                <tr>
                    <th>Pergunta</th>
                    <td></td>
                    <th>Nível</th>
                </tr>
                <!-- Adicione mais perguntas e respostas aqui, se necessário -->
                <tr>
                    <td>O que é HTML?</td>
                    <td></td>
                    <td class="level">
                        <span class="rating">
                            <span>
                                <input type="radio" name="nivel1" value="1" id="nivel1_1">
                                <label for="nivel1_1"></label>
                                <span class="level-number">1</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="2" id="nivel1_2">
                                <label for="nivel1_2"></label>
                                <span class="level-number">2</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="3" id="nivel1_3">
                                <label for="nivel1_3"></label>
                                <span class="level-number">3</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="4" id="nivel1_4">
                                <label for="nivel1_4"></label>
                                <span class="level-number">4</span>
                            </span>
                            <span>
                                <input type="radio" name="nivel1" value="5" id="nivel1_5">
                                <label for="nivel1_5"></label>
                                <span class="level-number">5</span>
                            </span>
                        </span>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Enviar respostas">
        </form>
    </div>
</body>
</html>
